@font-face {
  font-family: "GalanoGrotesqueAltRegular";
  src: url(../fonts/GalanoGrotesqueAltRegular.otf) format("truetype");
}

@font-face {
  font-family: "GalanoGrotesqueAltBold";
  src: url(../fonts/GalanoGrotesqueAltBold.otf) format("truetype");
  font-weight: 700;
}

:root {
  /* colors */

  --primary-color: #2dcacf;
  --secondary-color: #0f0028;
  --border-color: #dce4ff;
  --body-background-color: #f3ffff;
  --white-color: #ffffff;
  --nft-card-bg-color: #e8ffff;
  --navigation-bar-bg-color: rgb(169, 227, 246);
  --power-text-color: #061f6a;

  /* font-families */
  --secondary-font-family: "Archivo", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: var(--body-background-color);
  font-family: "GalanoGrotesqueAltRegular";
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/**********/
/* header */
/**********/

header {
  height: 100%;
  width: 100%;
  margin-top: 25px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav .navigation-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 28px;
}

nav .navigation-buttons ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 28px;
}

nav .navigation-menu ul li a,
nav .navigation-buttons ul li a {
  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.01em;
  position: relative;
  color: var(--secondary-color);
}

nav .navigation-buttons ul li a {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: var(--secondary-color);
}

nav .navigation-menu ul li:first-child a,
nav .navigation-menu ul li.active a {
  color: var(--primary-color);
}

nav .navigation-menu ul li:first-child a::before,
nav .navigation-menu ul li.active a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 20%;
  height: 2px;
  background-color: var(--primary-color);
}

nav .navigation-menu ul li {
  padding: 13px 0 36px 0;
}

nav .navigation-buttons ul li {
  padding: 13px 0 36px 0;
}

header .bottom-border {
  opacity: 0.4;
  border: 2px solid var(--border-color);
}

nav .logo {
  padding: 0.268rem 0 0.93rem 0;
}

nav .navigation-buttons .btn {
  background: var(--primary-color);
  box-shadow: -3px 8px 24px rgba(45, 202, 207, 0.33);
  border-radius: 100px;
  padding: 14px 31px 13px 31px;
  transition: all 0.2s ease-in-out;
  font-family: var(--secondary-color);
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
  letter-spacing: 0.01em;

  color: var(--white-color);
}

/****************/
/* main-section */
/****************/

main {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nft-banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "item-1 item-2 item-3";
  gap: 14.85px 14.15px;
  align-items: end;
  max-height: 749px;
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.nft-banner .banner-left {
  min-width: 408px;
  max-height: 587px;
}

.nft-banner .banner-left .head-section h2 {
  font-family: "GalanoGrotesqueAltBold";
  font-size: 58px;
  line-height: 114.5%;
  letter-spacing: -0.005em;
  color: var(--secondary-color);
}

span {
  color: var(--primary-color);
}

.nft-banner .banner-left .head-section p {
  padding-top: 30.41px;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 173%;
  letter-spacing: -0.01em;
  color: var(--secondary-color);
}

.nft-banner .banner-left .head-section .collection {
  padding-top: 3.349rem;
  box-sizing: border-box;
}

.nft-banner .banner-left .head-section .collection a {
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: 0px 12px 30px rgba(45, 202, 207, 0.33);
  border-radius: 100px;
  padding: 22px 0 22px 34px;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--white-color);
}

.nft-banner .banner-left .head-section .collection span {
  margin-left: 14px;
  padding-right: 34px;
}

.nft-banner .banner-left .head-section .last-section {
  padding-top: 120px;
}

.nft-banner .banner-left .head-section .last-section p {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 96%;
  color: #000000;
}

.nft-banner .banner-left .head-section .social-media-group {
  margin-top: 22px;
}

.nft-banner .banner-right {
  max-width: 344px;
  max-height: 578px;
}

.nft-banner .banner-right .nft-card {
  background: #faffff;
  box-shadow: 0px 43px 90px -16px rgba(44, 181, 185, 0.14);
  border-radius: 31px;
  box-sizing: border-box;
}

.nft-banner .banner-right .nft-card .card-title {
  padding-top: 34px;
  padding-left: 37px;
  font-family: "GalanoGrotesqueAltBold";
  font-size: 23px;
  line-height: 173%;
  white-space: nowrap;
  letter-spacing: -0.01em;
  color: var(--secondary-color);
}

.nft-banner .banner-right .nft-bid-area {
  background: var(--nft-card-bg-color);
  border-radius: 16px;
  margin: 15px 37px 25px 37px;
  box-sizing: border-box;
}

.nft-banner .banner-right .nft-bid-area h5 {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 96%;
  color: var(--secondary-color);
  padding: 18px 0 0 24px;
}

.nft-banner .banner-right .card-details ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 14px 0 19px 0;
}

.nft-banner .banner-right .card-details ul li .ethereum {
  padding: 0 10px 0 24px;
}

.nft-banner .banner-right .nft-card-actions ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nft-banner .banner-right .nft-card-actions ul li {
  margin-bottom: 34px;
}

.nft-banner .banner-right .nft-card-actions ul li a {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 14.9557px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.nft-banner .banner-right .nft-card-actions ul .bid {
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: 0px 12px 30px rgba(45, 202, 207, 0.33);
  border-radius: 100px;
  padding: 12px 30px 12px 31px;
  margin: 0 28px 0 37px;
  color: var(--white-color);
}

.nft-banner .banner-right .nft-card-actions ul .share-link {
  color: var(--primary-color);
}

.nft-banner .banner-right .contribution-section {
  margin-top: 43px;
}

.nft-banner .banner-right .contribution-section h3 {
  font-family: "GalanoGrotesqueAltBold";
  font-size: 23px;
  line-height: 173%;
  letter-spacing: -0.01em;
  color: var(--secondary-color);
}

.nft-banner .banner-right .contribution-section .image-1 {
  margin-top: 14px;
}

.nft-banner .banner-right .contribution-section .image-2 {
  margin-top: 24px;
}

.nft-banner .banner-right .fueler-section {
  margin-top: 75px;
  max-width: 100%;
  box-sizing: border-box;
}

.nft-banner .banner-right .fueler-section p {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17.28px;
  color: var(--power-text-color);
  text-align: end;
}

.nft-banner .banner-right .fueler-section .fueler-sec-paragraph {
  font-family: var(--secondary-font-family);
  color: var(--primary-color);
  font-weight: 700;
}

.nft-banner .banner-right .fueler-section .setting-icon {
  display: inline-block;
  max-width: 20.62px;
  max-height: 19.8px;
}

.nft-banner .banner-right .fueler-section .setting-icon img {
  margin: -4px;
}

nav.mobile-nav,
.mobile-menu-container {
  display: none;
}

@media screen and (max-width: 480px) {
  .wrapper {
    max-width: 750px;
  }

  header {
    margin-top: 0;
  }

  nav.desktop__navbar {
    display: none;
  }

  header .bottom-border {
    display: none;
  }

  nav.mobile-nav {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    background: var(--navigation-bar-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active {
    left: 0;
  }

  .mobile-menu-container .close-icon {
    position: fixed;
    top: 22px;
    left: 90%;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active .close-icon {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-menu-container ul {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-container ul li {
    margin: 26px 0;
    text-align: center;
  }

  .mobile-menu-container ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }

  nav .logo {
    padding: 15px 10px 12px 10px;
  }

  nav .navigation-buttons ul li {
    padding: 15px 10px 12px 10px;
  }

  .mobile-menu-container ul li #btn {
    background: var(--primary-color);
    box-shadow: -3px 8px 24px rgba(45, 202, 207, 0.33);
    border-radius: 100px;
    padding: 14px 31px 13px 31px;
    transition: all 0.2s ease-in-out;
    font-family: var(--secondary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.01em;

    color: #ffffff;
  }

  .nft-banner {
    grid-template-areas:
      "item-1"
      "item-2"
      "item-3";
    grid-template-columns: 1fr;
    max-width: 100%;
    margin: 0 auto;
    gap: 0;
    max-height: unset;
  }

  .nft-banner .banner-left {
    padding: 16px;
    min-width: 100%;
    max-height: unset;
  }

  .nft-banner .banner-left .head-section h2 {
    text-align: center;
    font-size: 35px;
  }

  .nft-banner .banner-left .head-section p {
    text-align: center;
    font-size: 15px;
  }

  .nft-banner .banner-left .head-section .collection {
    text-align: center;
  }

  .nft-banner .banner-left .head-section .last-section {
    text-align: center;
    padding-top: 70px;
  }

  .nft-banner .banner-left .head-section .social-media-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nft-banner .hero-section {
    padding: 0 16px;
  }

  .nft-banner .hero-section .hero {
    text-align: center;
  }

  .nft-banner .hero-section .hero img {
    width: 100%;
  }

  .nft-banner .banner-right .nft-card .card-title {
    padding-top: 25px;
    padding-left: 35px;
    font-size: 20px;
  }

  .nft-banner .banner-right {
    max-height: unset;
    margin: 0 auto;
    min-width: 100%;
    padding: 16px;
  }

  .nft-banner .banner-right .contribution-section {
    max-width: 100%;
    padding: 16px 16px;
    margin: 43px auto 0px auto;
  }

  .nft-banner .banner-right .fueler-section {
    margin-top: 0px;
    font-size: 40px;
  }

  .nft-banner .banner-right .fueler-section p {
    text-align: center;
    font-size: 20px;
  }

  .nft-banner .banner-right .nft-bid-area h5 {
    font-size: 15px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .wrapper {
    max-width: 800px;
  }

  header {
    margin-top: 0;
  }

  nav.desktop__navbar {
    display: none;
  }

  header .bottom-border {
    display: none;
  }

  nav.mobile-nav {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .mobile-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    background: var(--navigation-bar-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active {
    left: 0;
  }

  .mobile-menu-container .close-icon {
    position: fixed;
    top: 22px;
    left: 90%;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active .close-icon {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-menu-container ul {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-container ul li {
    margin: 26px 0;
    text-align: center;
  }

  .mobile-menu-container ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
  }

  nav .logo {
    padding: 15px 10px 12px 10px;
  }

  nav .navigation-buttons ul li {
    padding: 15px 10px 12px 10px;
  }

  .mobile-menu-container ul li #btn {
    background: var(--primary-color);
    box-shadow: -3px 8px 24px rgba(45, 202, 207, 0.33);
    border-radius: 100px;
    padding: 14px 31px 13px 31px;
    transition: all 0.2s ease-in-out;
    font-family: var(--secondary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.01em;

    color: var(--white-color);
  }

  .nft-banner {
    grid-template-areas:
      "item-1"
      "item-2"
      "item-3";
    grid-template-columns: 1fr;
    max-width: 100%;
    max-height: unset;
    gap: 0;
    margin: 0 auto;
  }

  .nft-banner .banner-left {
    padding: 32px 16px;
    min-width: 100%;
    max-height: unset;
  }

  .nft-banner .banner-left .head-section h2 {
    text-align: center;
    font-size: 48px;
  }

  .nft-banner .banner-left .head-section p {
    text-align: center;
    font-size: 24px;
    line-height: 140%;
  }

  .nft-banner .banner-left .head-section .collection {
    text-align: center;
  }

  .nft-banner .banner-left .head-section .last-section {
    text-align: center;
    padding-top: 70px;
  }

  .nft-banner .banner-left .head-section .social-media-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nft-banner .hero-section {
    padding: 0 16px;
    max-width: 100%;
  }

  .nft-banner .hero-section .hero {
    text-align: center;
  }

  .nft-banner .hero-section .hero img {
    max-width: 90%;
  }

  .nft-banner .banner-right {
    padding: 16px;
    max-height: unset;
    margin: 0 auto;
    min-width: 85%;
    max-height: unset;
  }

  .nft-banner .banner-right .contribution-section {
    max-width: 100%;
    padding: 16px 16px;
    margin: 43px auto 0px auto;
  }

  .nft-banner .banner-right .fueler-section {
    margin-top: 0px;
  }

  .nft-banner .banner-right .contribution-section h3 {
    text-align: center;
  }

  .nft-banner .banner-right .fueler-section p {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    max-width: 1050px;
  }

  header {
    margin-top: 0;
  }

  nav.desktop__navbar {
    display: none;
  }

  header .bottom-border {
    display: none;
  }

  nav.mobile-nav {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    background: var(--navigation-bar-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active {
    left: 0;
  }

  .mobile-menu-container .close-icon {
    position: fixed;
    top: 22px;
    left: 90%;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active .close-icon {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-menu-container ul {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-container ul li {
    margin: 26px 0;
    text-align: center;
  }

  .mobile-menu-container ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
  }

  nav .logo {
    padding: 15px 10px 12px 10px;
  }

  nav .navigation-buttons ul li {
    padding: 15px 10px 12px 10px;
  }

  .mobile-menu-container ul li #btn {
    background: var(--primary-color);
    box-shadow: -3px 8px 24px rgba(45, 202, 207, 0.33);
    border-radius: 100px;
    padding: 14px 31px 13px 31px;
    transition: all 0.2s ease-in-out;
    font-family: var(--secondary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.01em;

    color: var(--white-color);
  }

  .nft-banner {
    grid-template-areas:
      "item-1"
      "item-2"
      "item-3";
    grid-template-columns: 1fr;
    max-height: unset;
  }

  .nft-banner .banner-left {
    padding: 32px 16px;
  }

  .nft-banner .banner-left .head-section h2 {
    text-align: center;
  }

  .nft-banner .banner-left .head-section p {
    text-align: center;
  }

  .nft-banner .banner-left .head-section .collection {
    text-align: center;
  }

  .nft-banner .banner-left .head-section .last-section {
    text-align: center;
    padding-top: 70px;
  }

  .nft-banner .banner-left .head-section .social-media-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nft-banner .hero-section {
    padding: 0 16px;
  }

  .nft-banner .hero-section .hero {
    text-align: center;
  }

  .nft-banner .banner-right {
    padding: 32px 16px;
    max-height: unset;
    margin: 0 auto;
    min-width: 80%;
  }

  .nft-banner .banner-right .contribution-section {
    max-width: 100%;
    padding: 16px 16px;
    margin: 43px auto 0px auto;
  }

  .nft-banner .banner-right .contribution-section h3 {
    text-align: center;
  }

  .nft-banner .banner-right .fueler-section {
    margin-top: 0px;
  }

  .nft-banner .banner-right .fueler-section p {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  nav.desktop__navbar {
    padding: 0 16px;
  }

  .nft-banner {
    padding: 0 16px;
    max-height: unset;
  }

  .nft-banner .banner-left {
    min-width: 340px;
  }

  .nft-banner .hero-section .hero img {
    width: 100%;
  }

  .nft-banner .banner-left .head-section h2 {
    font-size: 50px;
  }

  .nft-banner .banner-left .head-section p {
    font-size: 18px;
  }
}
